54-116-113-17.sslip.io {
    @api path /v1/* /docs /docs/* /openapi.json /healthcheck /static/* /media/*
    handle @api {
        reverse_proxy fastapi:8000
    }
    handle {
        root * /srv/frontend
        file_server
    }
}
